In [12]:
import pandas as pd
df=pd.read_csv('agora.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# MaxAbsScaler

In [13]:
from sklearn.preprocessing import MaxAbsScaler

In [14]:
maxAbsScaler=MaxAbsScaler()

In [15]:
# drop column
new_df=df.drop(['Area','Profit'],axis=1)

In [16]:
new_df.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

# fit_transform

In [17]:
new_df_fit_transform= maxAbsScaler.fit_transform(new_df)

In [18]:
df.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

# Convert into data frame

In [19]:
output=pd.DataFrame(new_df_fit_transform,columns=['Marketing Spend', 'Administration', 'Transport'])

In [20]:
output.head()

   Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893
2         0.927985        0.553781   0.864664
3         0.873136        0.649738   0.812235
4         0.859438        0.500378   0.776136